@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/helpers/typography.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";

@import "../../node_modules/bulma/sass/components/level.sass";

.home {
    text-align: center;
}
.home-url {
    border-bottom: 1px solid $primary;

}

.url-card {
    max-width: 480px;
    margin: 0 auto;
    padding:16px 16 8px 16px;
}
.url-card .control {
    display: inline-flex;
    align-items: center;
    width: 100%;
}