$primary : #E415A3;
$footer-background-color: #e415a32e;
$footer-padding:1rem 1.5rem;

@import "~../node_modules/bulma/sass/base/_all.sass";
@import "~../node_modules/bulma/sass/helpers/_all.sass";
@import "~../node_modules/bulma/sass/components/navbar.sass";
@import "~../node_modules/bulma/sass/utilities/_all.sass";
@import "~../node_modules/bulma/sass/elements/title.sass";
@import "~../node_modules/bulma/sass/elements/button.sass";
@import "~../node_modules/bulma/sass/layout/footer.sass";
@import "~../node_modules/bulma/sass/elements/container.sass";
@import "~../node_modules/bulma/sass/form/_all.sass";
@import "~../node_modules/bulma/sass/grid/_all.sass";


html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 footer {
    margin-top: auto;
}
.app {
    padding-top: 1.25rem;
}
.content-column {
    margin-top: 56px;
}


.login-form {
    max-width: 480px;
    display: block;
    margin: 0 auto;
}
.no-padding {
    padding: 0px !important;
}

.backdrop-root {
    cursor:pointer;
display: flex;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
inset: 0px;
background-color: rgba(0, 0, 0, 0.5);
z-index: 5;
position: fixed;

}
